<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="http://localhost:8888/css/test.css">
    </head>
    <body>
    <h1>Hello World</h1>

    {% set foo = "baseUrl()" %}


<ul>

{% for item in category %}


<li>{{ item['cat_title'] }}</li>

  {% endfor %}
</ul>

{% include 'footer.html' %}
    </body>
</html>