{% include 'admin/includes/admin_header.twig' %}
<body>
    {% include 'admin/flash/feedback.twig' %}
        <div id="wrapper">
            <!-- Navigation -->
            {% include 'admin/includes/admin_navigation.twig' %}
            <div id="page-wrapper">
                <div class="container-fluid">
                    <br>
                    
                    <div class="col-md-12">
                    <strong><h4 class="current-date text-center"> <i class="fa fa-calendar text-center"></i>   {{"now"|date('l jS  F Y h:i:s A') }}</h4></strong>
                    </div>

                    <br><br>
                    
                    {% block main%}
                    {% endblock main %}
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/admin/js/app.admin.min.js"></script>
</body>

</html>
