<!DOCTYPE html>
<html lang="en">
	{% include 'front/includes/header.twig' %}
	<body>
		{% if flash %}
	{% for key,value in flash %}
		<div  id="feedback" class="{{key}}">
			<a href="#" class="dismiss"  aria-label="close">&times;</a>
  	
	<p class="text-center">{{ value[0] }}</p>
	  </div>
{% endfor %}
	


{% endif %}
		{% include 'front/includes/navigation.twig' %}

			<div class="container">
		<header>
			<a href="index.html"><img src="/images/logo.png"></a>
		</header>
		{% block main %}
				<div class="col-md-4 sidebar-gutter">
					<aside>
					{% include 'front/includes/sidebar.twig'  %}
					</aside>
				</div>
			</div>
		</section>
		{% endblock main %}
		</div><!-- /.container -->
		<!-- Footer -->

		{% include 'front/includes/footer.twig' %}

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.bxslider.js"></script>
		<script src="/js/mooz.scripts.min.js"></script>
		<script src="/js/scripts.js"></script>
	</body>
</html>