{% extends 'front/layout.twig' %}
{% block main %}
		
<section>
	<div class="row">
		<div class="col-md-8">
			<article class="blog-post">
				<div class="blog-post-image">
					<a href=""><img src="http://localhost:8888/images/750x500-2.jpg" alt=""></a>
				</div>
				<div class="blog-post-body">
					<h2>{{ post['title'] }}</h2>
					<div class="post-meta"><span>by <a href="#">Jamie Mooze</a></span>/<span><i class="fa fa-clock-o"></i>{{ post['published'] }}</span>/<span><i class="fa fa-comment-o"></i> <a href="#">{{ post['comments_count'] }}</a></span></div>
					<div class="blog-post-text"><p>{{ post['content'] }}</p>
					</div>
				</div>
				<div class="well row">
				<!-- <?php if(isset($formError)){ echo "<div class='alert alert-danger'>$formError </div>"; }?>
				<?php if(isset($feedback)){ echo "<div class='alert alert-success'>$feedback </div>"; }?>-->
				<form action="" method="post"> 
					<div class="form-group">
					<label for="name" >Name</label>
					
					<input type="text" class="form-control" name="name">
				

					</div>

					<div class="form-group">
					<label for="name" class="">Email</label>
					
					<input type="email" class="form-control" name="email">
				

					</div>
					<div class="form-group">
					<label for="name" class="">Comment</label>
					
					<textarea type="text" class="form-control" name="comment" rows="10"></textarea>
				

					</div>
					<button class="btn btn-success" type="submit" name="submit">Submit</button>
				</form>
				</div>
			</article>
		</div>
		<div class="col-md-4 sidebar-gutter">
					<aside>
					{% include 'front/partials/sidebar.twig'  %}
					</aside>
				</div>
			</div>
		</section>
{% endblock main %}
	